body {
  margin: 0;
  color: #919191;
  letter-spacing: 0.0725em;
  background-color: #fafafa;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body > div#root,
body > div#root > div,
body > div#root > div > div {
  height: 100%;
}

.ui.grid,
.ui.stackable.grid {
  margin: 0;
}

.ui.grid.defaultGrid {
  margin: 2rem;
}

.ui.segment:first-child {
  margin-top: 1.5rem;
}

.ui.segment:last-child,
.ui.segment {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ui.fluid.button.addNewButton {
  border-radius: 18px;
}

/***
*
* Mobile Styles
*
***/
@media all and (max-width: 668px) {
  .ui.segment:first-child {
    margin-top: 0.5rem;
  }

  .ui.segment:last-child,
  .ui.segment {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .ui.fluid.button.addNewButton {
    visibility: hidden;
  }
}
