body > div#root > div > div > div.onBoarding {
<<<<<<< HEAD
  height: 100%;
  background-color: #24c63a;
}

div.introOnboarding,
div.outroOnboarding {
  min-height: 100%;
||||||| merged common ancestors
  min-height: 100%;
=======
  height: 100%;
>>>>>>> mobile-styles
  background-color: #24c63a;
}

div.ui.grid.pageHeader {
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

div.onBoardingHeader {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

p.pageCounter {
  color: #fff;
  font-size: 14px;
  font-family: Raleway;
  letter-spacing: 1.8px;
}

a.ui.label.headerLink {
  background-color: transparent;
  font-family: Raleway;
  font-size: 11px;
  letter-spacing: 1.4px;
  text-align: right;
  color: #fff;
  padding-right: 0 !important;
}

img.teamIcon {
  margin-top: 10em;
}

div.userNameLabel {
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

div.userNameInput {
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 1.8px;
  text-align: center;
  margin-top: 13em;
  color: #fff;
}

div.nameError {
  font-family: Raleway;
  font-size: 14px;
  margin-top: 13em;
  font-weight: bold;
  letter-spacing: 1.8px;
  text-align: center;
  color: #c23d3d;
}

div.userNameInput > div.ui.input,
div.nameError > div.ui.input {
  display: block;
}

div.userNameInput > div.ui.input > input,
div.nameError > div.ui.input > input {
  border: none;
  font-family: Cabin;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 4.5px;
  text-align: center;
  margin-top: 0.5em;
  color: #fff;
}

div.ui.center.aligned.grid.introMessageGrid {
  height: 95%;
  margin: 0 !important;
  padding: 0 !important;
}

div.column.introMessageGrid {
  height: 100%;
  margin-bottom: 1rem !important;
}

h2.introHeader {
  font-family: Cabin;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3.8px;
  text-align: center;
  color: #fff;
  padding-top: 8rem;
  margin-bottom: 0;
}

p.introMessage {
  width: 375px;
  margin: 2rem auto 0;
  font-family: Cabin;
  font-size: 20px;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

img.introWave {
  width: 140px;
  height: 164.5px;
  margin-top: 3rem;
}

a.introGetStarted {
  cursor: pointer;
  display: block;
  font-family: Lobster;
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
  color: #fff;
  margin-top: 3.8rem;
}

div.column.thankYouMessageGrid,
div.row.questionGrid {
  padding: 0 !important;
}

h2.thankYouHeader {
  font-family: Cabin;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
  padding-top: 12rem;
  margin-bottom: 0;
}

p.thankYouMessage {
  width: 400px;
  margin: 2rem auto 0;
  font-family: Cabin;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

img.checkmarkIcon {
  margin-top: 10rem;
}

p.thankYouLoading {
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 1.8px;
  text-align: center;
  color: #fff;
  margin-top: 3.8rem;
}

div.ui.center.aligned.grid.questionGrid {
  height: 95%;
  margin: 0 !important;
}

.ui.vertical.menu {
  width: 100%;
  background-color: #24c63a;
}

div.ui.secondary.vertical.menu > a.item.noHoverItem,
div.ui.secondary.vertical.menu > a.item.hoverItem,
div.ui.secondary.vertical.menu > a.item.noHoverItem:hover {
  margin: 0 !important;
  border-radius: 0 !important;
  font-family: Cabin;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3.8px;
  text-align: center;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  color: #fff;
}

div.ui.secondary.vertical.menu > a.active.item.noHoverItem,
div.ui.secondary.vertical.menu > a.active.item.hoverItem,
div.ui.secondary.vertical.menu > a.item.hoverItem:hover {
  margin: 0 !important;
  border-radius: 0 !important;
  background-color: #fff;
  font-family: Cabin;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3.8px;
  text-align: center;
  color: #24c63a;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

div.column.onBoardingColumn,
div.ui.secondary.vertical.menu {
  margin: 0 !important;
  padding: 0 !important;
}

@media all and (max-width: 668px) {
  img.teamIcon {
    margin-top: 4rem;
    width: 56px;
    height: 56px;
    object-fit: contain;
  }

  /*
    Intro Page
  */
  img.introWave {
    width: 65px;
    height: 77px;
    margin-top: 3rem;
  }

  h2.introHeader {
    font-size: 18px;
    letter-spacing: 2.3px;
  }

  p.introMessage {
    width: 220px;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  a.introGetStarted {
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 1.8rem;
  }

  /*
    Question Prompt
  */
  div.userNameLabel {
    width: 216px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    letter-spacing: 2px;
  }

  /*
    Question Options
  */
  div.ui.center.aligned.grid.questionGrid {
    height: 96%;
  }

  div.ui.secondary.vertical.menu > a.item.noHoverItem,
  div.ui.secondary.vertical.menu > a.active.item.noHoverItem {
    font-size: 18px;
    padding: 2rem;
    letter-spacing: 2.3px;
  }

  /*
    Client Name Input
  */
  div.userNameInput,
  div.nameError {
    margin-top: 9em;
  }

  div.userNameInput > div.ui.input > input,
  div.nameError > div.ui.input > input {
    font-size: 18px;
    letter-spacing: 1.3px;
  }

  /*
    Page Header
  */
  div.ui.grid.pageHeader {
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }

  p.pageCounter {
    font-size: 10px;
    letter-spacing: 1.3px;
  }

  a.ui.label.headerLink {
    font-size: 7px;
    letter-spacing: 0.9px;
  }

  /*
    Thank You Page
  */
  h2.thankYouHeader {
    font-size: 18px;
    letter-spacing: 2.3px;
    padding-top: 0.5rem;
  }

  p.thankYouMessage {
    width: 216px;
    margin: 2rem auto 0;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  img.checkmarkIcon {
    width: 65px;
    height: 77px;
    margin-top: 1.5rem;
  }

  p.thankYouLoading {
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 1.8rem;
  }
}
