@import '../../../styles/variables';

.onBoarding {
  height: 100vh;
}

.introOnboarding,
.outroOnboarding {
  height: 100vh;
}

div.pageHeader {
  display: flex;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 10px;
  width: 100%;
}

.ui.grid > div.floated.column.onBoardingHeader {
  padding: 0;
  width: auto;
}

.ui.grid > .row.pageHeader {
  padding-bottom: 0;
  height: 64.5px;
}

p.pageCounter {
  color: $careeer-purple;
  font-size: 14px;
  font-family: $careeer-font-stack;
  letter-spacing: 1.8px;
  padding-left: 10px;
}

a.ui.label.headerLink {
  background-color: transparent;
  color: $careeer-purple;
  font-family: $careeer-font-stack;
  font-size: 14px;
  letter-spacing: 1.4px;
  padding-right: 0 !important;
  text-align: right;
}

img.teamIcon {
  margin-top: 0;
}

div.userNameLabel {
  color: $careeer-purple;
  font-family: $careeer-font-stack;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 2;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
  width: 375px;
}

div.userNameInput {
  color: $careeer-purple;
  font-family: $careeer-font-stack;
  font-size: 14px;
  letter-spacing: 1.8px;
  margin-top: 13em;
  text-align: center;
}

div.nameError {
  color: #c23d3d;
  font-family: $careeer-font-stack;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.8px;
  margin-top: 5em;
  text-align: center;
}

div.userNameInput > div.ui.input,
div.nameError > div.ui.input {
  display: block;
}

div.userNameInput > div.ui.input > input,
div.nameError > div.ui.input > input {
  border-bottom: 3px solid #55dae0;
  border-bottom-color: #55dae0 !important;
  color: $careeer-purple;
  font-family: $careeer-font-stack;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3.5px;
  margin-top: 1.5em;
  text-align: center;
  width: 350px;
}

div.ui.center.aligned.grid.introMessageGrid,
div.ui.center.aligned.grid.questionGrid {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #f1f1f9 50%, #c3cfe2 100%);
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0 rgba(34,36,38,.45);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 0 !important;
  width: 41% !important;
  margin-bottom: 1rem !important;
}

h2.introHeader {
  border-bottom: 3px solid #55dae0;
  color: $careeer-purple;
  font-family: $careeer-font-stack;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3.8px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0.5rem;
  padding-top: 3rem;
  text-align: center;
  width: 131px;
}

p.introMessage {
  color: $careeer-purple;
  font-family: $careeer-font-stack;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin: 3.5rem auto 0;
  text-align: center;
  width: 375px;
}

img.introWave {
  cursor: pointer;
  height: 164.5px;
  margin-top: 5rem;
  width: 140px;
}

a.introGetStarted {
  background-color: $careeer-green;
  color: white;  
  border-radius: 9px;
  cursor: pointer;
  display: block;
  font-family: Lobster;
  font-size: 32px;
  height: 55px;
  letter-spacing: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-top: 0.5rem;
  text-align: center;
  width: 350px;

  &:hover, &:active {
    background-color: $careeer-fluorescent
  }
}

div.column.thankYouMessageGrid,
div.row.questionGrid {
  padding: 0 !important;
}

.ui.grid > .row.questionGridOptions {
  height: 388.92px;
}

h2.thankYouHeader {
  font-family: $careeer-font-stack;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  padding-top: 12rem;
  margin-bottom: 0;
}

p.thankYouMessage {
  width: 400px;
  margin: 2rem auto 0;
  font-family: $careeer-font-stack;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-align: center;
  color: white;
  margin-bottom: 0;
}

img.checkmarkIcon {
  margin-top: 10rem;
}

p.thankYouLoading {
  font-family: $careeer-font-stack;
  font-size: 14px;
  letter-spacing: 1.8px;
  text-align: center;
  color: white;
  margin-top: 3.8rem;
}


.ui.vertical.menu, 
.ui.grid > .column.introMessageGrid,
.ui.grid > .column.onBoardingColumn {
  width: 100%;
}

.ui.grid > .column.onBoardingColumn {
  height: 50rem;
  padding-top: 0;
}

div.ui.secondary.vertical.menu > a.item.noHoverItem,
div.ui.secondary.vertical.menu > a.item.hoverItem,
div.ui.secondary.vertical.menu > a.item.noHoverItem:hover {
  color: white;
  background-color: $careeer-green;
  border-radius: 8px !important;
  font-family: $careeer-font-stack;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 3.0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.8rem;
  padding: 1.5rem;
  text-align: center;
  width: 375px;
}

div.ui.secondary.vertical.menu > a.active.item.noHoverItem,
div.ui.secondary.vertical.menu > a.active.item.hoverItem,
div.ui.secondary.vertical.menu > a.item.hoverItem:hover {
  background-color: $careeer-fluorescent;
}

div.ui.secondary.vertical.menu {
  margin: 0 !important;
  padding: 0 !important;
}

/***
*
* Mobile Styles
*
***/
@media all and (max-width: 668px) {
  div.ui.center.aligned.grid.introMessageGrid,
  div.ui.center.aligned.grid.questionGrid {
    border-radius: 0;
    margin-top: 0;
    width: 100% !important;
    height: 100%;
    margin-bottom: 0 !important;
  }

  img.introWave {
    height: 134.5px;
    margin-top: 4rem;
    width: 110px;
  }

  p.introMessage {
    width: 320px;
  }

  a.introGetStarted {
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 1.8rem;
  }

  /*
    Question Prompt
  */
  div.userNameLabel {
    width: 320px;
  }

  div.ui.secondary.vertical.menu > a.item.noHoverItem,
  div.ui.secondary.vertical.menu > a.item.noHoverItem:hover,
  div.ui.secondary.vertical.menu > a.active.item.noHoverItem,
  div.ui.secondary.vertical.menu > a.item.hoverItem,
  div.ui.secondary.vertical.menu > a.item.hoverItem:hover,
  div.ui.secondary.vertical.menu > a.active.item.hoverItem {
    font-size: 20px;
    // padding: 2rem;
    // letter-spacing: 2.3px;
    padding: 1.25rem;
    width: 320px;
  }

  /*
    Client Name Input
  */
  div.userNameInput,
  div.nameError {
    margin-top: 5rem;
  }

  div.userNameInput > div.ui.input > input,
  div.nameError > div.ui.input > input {
    font-size: 26px;
  }

  a.ui.label.headerLink {
    font-size: 12px;
    letter-spacing: 0.9px;
  }

  /*
    Thank You Page
  */
  h2.thankYouHeader {
    font-size: 18px;
    letter-spacing: 2.3px;
    padding-top: 0.5rem;
  }

  p.thankYouMessage {
    width: 216px;
    margin: 2rem auto 0;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  img.checkmarkIcon {
    width: 65px;
    height: 77px;
    margin-top: 1.5rem;
  }

  p.thankYouLoading {
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 1.8rem;
  }
}
