div.ui.segment.roadmapSegment {
  border: none;
  padding: 14px;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: none;
}

button.ui.button.roadmapButton {
  color: #fff;
  font-size: 18px;
  font-family: Cabin;
  text-align: center;
  margin-top: 0.6rem;
  border-radius: 18px;
  letter-spacing: 2.3px;
  background-color: #24c63a;
}

button.ui.button.copyRoadmapElementButton {
  height: 100%;
  padding-right: 0;
  padding-left: 11px;
}
