/*
  Thank You Loading Styles
*/
div.ui.active.transition.visible.page.dimmer.thankYouLoader {
  background-color: #24c63a;
  opacity: 0.85;
}

/*
  Congratulate Banner Styles
*/
div.ui.attached.message.slide.down.congratulateMessage {
  top: 0;
  padding: 0;
  width: 100%;
  z-index: 102;
  margin: 0;
  position: fixed;
  background-color: #03ac13;
}

span.mainMessage {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: Raleway;
  letter-spacing: 2.3px;
}

div.ui.secondaryMessage {
  color: #fff;
  font-size: 10px;
  text-align: right;
  font-family: Raleway;
  letter-spacing: 1.3px;
}

div.ui.undoLink,
a.undoLink {
  color: #000;
  font-size: 10px;
  cursor: pointer;
  text-align: right;
  font-family: Raleway;
  letter-spacing: 1.3px;
}

/*
  Account Type Flag Styles
*/
div.accountType {
  margin-top: 1em;
  margin-left: 1em;
}

div.accountType a {
  position: relative;
  padding: 3px 20px 4px 70px;
  margin: 30px 10px 10px -70px;
  width: 145px;
  height: 18px;
  font-family: Cabin;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  background-color: #24c63a;
}

div.accountType a::before {
  top: 0;
  content: ' ';
  width: 15px;
  height: 22px;
  right: -45px;
  position: absolute;
  border-style: solid;
  border-width: 11px 23px;
  border-color: #24c63a transparent #24c63a #24c63a;
}

/*
  Common Roadmap Elements Styles
*/
div.ui.grid.roadmapMainGrid {
  margin: 0 1rem 0.5rem;
}

div.column.roadmapMainColumn {
  padding-right: 30px !important;
}

div.ui.segment.roadmapSegment {
  border: none;
  padding: 14px;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: none;
}

button.ui.button.roadmapButton {
  color: #fff;
  font-size: 18px;
  font-family: Cabin;
  text-align: center;
  margin-top: 0.6rem;
  border-radius: 18px;
  letter-spacing: 2.3px;
  background-color: #24c63a;
}

/*
  Roadmap Element Styles
*/
div.stretched.middle.aligned.row.roadmapFirstRow,
div.stretched.row {
  padding-top: 0 !important;
}

div.left.floated.column.roadmapLeftColumn {
  width: 75%;
  padding: 0 !important;
  text-align: left;
}

div.ui.label.column.roadmapTitleColumn {
  background-color: transparent;
  padding: 0;
  font-family: Cabin;
  font-size: 26px;
  letter-spacing: 3.5px;
  color: #333;
  width: auto;
  line-height: 30px;
}

div.right.floated.column.roadmapRightColumn {
  width: 25%;
  padding: 0;
  text-align: right;
}

div.right.floated.column.roadmapRightColumnNotMobile {
  width: 25%;
  padding: 0;
  text-align: right;
  visibility: visible;
}

div.row.roadmapIconsRow {
  width: auto;
  padding: 0;
  border: none;
  margin-bottom: 2em;
  margin-right: 0;
  text-align: right;
}

div.ui.label.roadmapIconsLabelColumn {
  padding: 0;
  width: auto;
  background-color: transparent;
}

div.row.roadmapBottomRightRow {
  vertical-align: bottom;
}

div.column.roadmapBottomRightColumn {
  width: auto;
  padding: 0;
  border: none;
  margin-top: 0;
  margin-right: 0;
  text-align: right;
}

div.ui.label.roadmapDueDate {
  width: auto;
  padding: 0;
  color: #333;
  border: none;
  margin-top: 0;
  margin-right: 0;
  font-size: 14px;
  text-align: right;
  line-height: 25px;
  font-family: Raleway;
  letter-spacing: 1.5px;
  background-color: transparent;
}

div.ui.label.roadmapCardType {
  width: auto;
  padding: 0;
  border: none;
  margin-right: 0;
  font-size: 12px;
  margin-top: auto;
  text-align: right;
  line-height: 25px;
  font-family: Raleway;
  letter-spacing: 1.5px;
}

div.ui.label.roadmapDescription {
  width: auto;
  padding: 0;
  color: #919191;
  font-size: 14px;
  line-height: 25px;
  font-family: Cabin;
  letter-spacing: 2px;
  background-color: transparent;
}

div.column.roadmapButtonColumn {
  padding: 10px 0 5px;
}

/*
  Roadmap Element Form Styles
*/
div.fields.firstField {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

div.fields.lastField {
  margin-bottom: 0;
}

div.fields.secondField {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.ui.form input.cardTypeInput {
  font-family: Raleway;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: right;
  border: none;
  padding: 0;
}

.ui.form input.dueDateInput {
  font-family: Raleway;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: right;
  color: #919191;
  padding: 0;
  border: none;
}

.ui.form input.titleInput {
  font-family: Cabin;
  font-size: 28px;
  letter-spacing: 3.5px;
  color: #919191;
  padding: 0;
  border: none;
}

.ui.form input.descriptionInput {
  font-family: Cabin;
  font-size: 16px;
  letter-spacing: 2px;
  color: #919191;
  padding: 0;
  border: none;
}

.ui.form input.hyperlinkInput {
  font-family: Cabin;
  font-size: 14px;
  letter-spacing: 1.8px;
  color: #919191;
  padding: 0;
  border: none;
}

.ui.form input.captionInput {
  font-family: Cabin;
  font-size: 18px;
  letter-spacing: 2.3px;
  text-align: left;
  color: #919191;
  padding: 0;
  border: none;
}

button.ui.button.copyRoadmapElementButton {
  height: 100%;
  padding-right: 0;
  padding-left: 11px;
}

/*
  Completed Element Section Styles
*/
button.ui.completedSection,
button.ui.completedSection:hover {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #b9eec0 !important;
}

span.completedMessage {
  color: #333;
  font-size: 14px;
  font-family: Raleway;
  letter-spacing: 1.8px;
}

div.row.completedGridRow {
  padding: 0 !important;
}

div.column.completedGridColumn {
  margin-left: 0 !important;
}

i.completedToggleIcon {
  width: auto;
  font-weight: lighter;
  font-size: 3rem !important;
}

div.ui.grid.mobileOnlyGrid {
  visibility: hidden;
  height: 0;
  margin: 0;
  width: 0;
}

 // Settings Icon
img.settingsIcon {
  width: 50px;
  height: 50px;
  z-index: 2!important;
  right: 30px!important;
  bottom: 105px!important;
  cursor: pointer!important;
  position: fixed!important;
  background-color: transparent;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);

  &:hover {
    transform: scale(1.05);
  }

  &.toolboxIcon {
    bottom: 175px!important;
  }
}

/***
*
* Mobile Styles
*
***/
@media all and (max-width: 668px) {
  /*
    Congratulate Banner Styles
  */
  div.center.aligned.column.bannerMessageColumn {
    padding: 2px 0 0 40px !important;
  }

  div.column.bannerUndoColumn {
    padding: 3px 0 0 20px !important;
  }

  div.ui.congratulateMessage {
    height: 24px;
  }

  span.mainMessage {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1.3px;
  }

  div.ui.undoLink,
  a.undoLink {
    font-size: 8px;
    letter-spacing: 1px;
  }

  /*
    Account Type Flag Styles
  */
  div.accountType {
    margin-top: 3px;
    margin-left: 0.5em;
  }

  div.accountType a {
    font-size: 6px;
    letter-spacing: 0.5px;
    padding-top: 4px;
    padding-bottom: 5px;
  }

  div.accountType a::before {
    width: 8px;
    height: 4px;
    right: -13px;
    border-width: 8.5px 11px;
  }

  /*
    Common Roadmap Elements Styles
  */
  div.ui.grid.roadmapMainGrid {
    margin: 6px 15px;
  }

  div.column.roadmapMainColumn {
    padding: 0 !important;
  }

  button.ui.button.roadmapButton {
    font-size: 10px;
    letter-spacing: 1.3px;
    margin: 0;
  }

  /*
    Roadmap Element Styles
  */
  div.ui.label.column.roadmapTitleColumn {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1.9px;
  }

  div.ui.label.roadmapDescription {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1.3px;
    padding-top: 4px;
  }

  div.ui.label.roadmapDueDate {
    font-size: 7px;
    letter-spacing: 0.9px;
  }

  div.ui.label.roadmapCardType {
    font-size: 7px;
    letter-spacing: 0.9px;
  }

  div.stretched.middle.aligned.row.roadmapFirstRow,
  div.stretched.row {
    padding: 0 !important;
  }

  .ui.stackable.grid > .row > .column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  div.row.roadmapIconsRow {
    margin-bottom: 0;
  }

  div.ui.grid.mobileOnlyGrid {
    visibility: visible;
    height: auto;
    margin: 0;
    width: auto;
  }

  .ui.grid > .row > div.left.floated.column.mobileOnlyLeftColumn {
    width: auto;
    padding: 0 !important;
    text-align: left;
  }

  .ui.grid > .row > div.right.floated.column.mobileOnlyRightColumn {
    width: auto;
    padding: 0 !important;
    text-align: right;
  }

  div.right.floated.column.roadmapRightColumnNotMobile {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0 !important;
    visibility: hidden;
  }

  /*
    Completed Element Section Styles
  */
  span.completedMessage {
    padding-left: 30px;
    font-size: 9px;
    letter-spacing: 1.1px;
  }

  button.ui.completedSection,
  button.ui.completedSection:hover {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  div.row.completedGridRow {
    padding: 0 !important;
    height: 30px;
  }

  div.column.completedGridColumn {
    margin-left: 0 !important;
    height: 30px;
  }

  i.completedToggleIcon {
    font-size: 2.2rem !important;
  }

  i.write.big.link.icon {
    visibility: hidden;
  }

  // Settings Icon
  img.settingsIcon {
    width: 33px;
    height: 33px;
    right: 22px!important;
    bottom: 76px!important;

    &.toolboxIcon {
      bottom: 125px!important;
    }
  }
}
