@import '../../../styles/variables'; 

.createAccountPage {
  // background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #f1f1f9 100%); // marble wall
  background-image: linear-gradient(135deg, #f5f7fa 0%, #f1f1f9 50%, #c3cfe2 100%); //Saint Petersburg with careeer-purple
  // background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  // background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); //Saint Petersburg
  // background-color: #f1f1f9;
  height: 70%;
}

a.signInLink {
  top: 40px;
  right: 24px;
  color: $careeer-purple;
  font-size: 18px;
  font-family: $careeer-font-stack;
  position: absolute;
  letter-spacing: 2.3px;
}

.createAccountForm {
  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 6px 0 rgba(34,36,38,.45);
  margin: 11em auto auto;
  padding-bottom: 2rem;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 1.5rem;
  width: 400px;

  .careeer {
    color: $careeer-fluorescent;
    font-size: 36px;
    font-weight: normal;
    font-family: 'Lobster', cursive;
    margin-bottom: 3rem;
  }

  label {
    color: #ffa2a2;
    display: block;
    font-size: 12px;
    margin-bottom: 1em;
    letter-spacing: 1px;
    opacity: 0;
  }

  button.ui.button {
    background-color: $careeer-green;
    color: #fff;
    font-family: $careeer-font-stack;
    font-size: 18px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    letter-spacing: 2.3px;
    width: 100%;
  }

  input {
    width: 100%;
    color: #333;
    display: block;
    font-size: 18px;
    font-family: $careeer-font-stack;
    text-align: left;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    letter-spacing: 1.5px;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    background-color: transparent;
    border-bottom: solid 1px #b1b1b1;

    &::placeholder {
      color: #b1b1b1;
    }

    &:focus {
      outline: none;
    }

    &:invalid:not(:placeholder-shown) {
      border-bottom: solid 1px #ff856e;

      & + label {
        opacity: 1;
      }

      & + label.apiMessage {
        opacity: 1;
      }

      & + label + button.ui.button {
        background-color: #b1b1b1;
      }
    }

    &:valid:not(:placeholder-shown) {
      border-bottom: solid 1px $careeer-green;

      & + label {
        opacity: 0;
      }

      & + label + input:valid + label + button.ui.button {
        background-color: $careeer-green;
      }
    }
  }

  input.errorMode {
    &:valid:not(:placeholder-shown) {
      border-bottom: solid 1px #ff856e;
    }

    & + label.apiMessage {
      opacity: 1 !important;
    }
  }

  a {
    display: block;
    color: $careeer-purple;
    font-family: $careeer-font-stack;    
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    width: fit-content;
    letter-spacing: 2.3px;
  }
}



@media all and (max-width: 668px) {
  a.signInLink {
    top: 20px;
    right: 14px;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  form.createAccountForm {
    width: 22em;

    input {
      font-size: 14px;
      letter-spacing: 1.2px;
    }

    button.ui.button {
      font-size: 14px;
      letter-spacing: 1.8px;
    }
  }
}
