div.ui.active.transition.visible.inverted.page.dimmer.settingsDimmer {
  opacity: 0.93;
  overflow-y: auto;
  z-index: 2000000;
  will-change: unset;
  background-color: #fef99f;

  & > div.content > div.center {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      position: absolute;

      div.ui.right.aligned.grid {
        margin-top: 0;
      }
  }

  div.ui.right.aligned.grid > div.column.closeButton {
    top: 10px;
    position: fixed;

    & > a:focus {
      outline: none;
    }

    img.doneIcon{
      width: 49px;
      height: 50px;
      cursor: pointer;
    }
  }

  .messageBody.settings {
    margin-top: 0;

    h4 {
      font-size: 2em;
      margin-top: 0;
    }

    .introMessage {
      margin-top: 0;
    }

    p.description {
      font-size: 1.2em;
      margin-top: 0.75em;
      margin-bottom: 1.25em;
    }

    .plans {
      margin-top: 2em;
    }

    .paymentErrors {
      left: 0;
      right: 0;
      margin-left: auto;
      position: absolute;
      margin-right: auto;

      & > p {
        color: #fe5d5d;
        font-size: 12px;
        font-family: Cabin;
        letter-spacing: 1px;
      }
    }
  }

  button.ui.button {
    width: 387px;
    display: block;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Cabin;
    font-weight: normal;
    border-radius: 28px;
    letter-spacing: 2.5px;
    border: solid 1px #24c63a;
    transition: box-shadow 0.5s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);

    &.changeSubscriptionButton {
      color: #fff;
      background-color: #24c63a;
      margin: 3em auto 1em auto;

      &:disabled {
        margin: 3em auto 1em auto !important;
      }

      &.saveChanges {
        margin: 4em auto 1em auto;

        &:disabled {
          margin: 4em auto 1em auto !important;
        }
      }
    }

    &.changePaymentButton {
      margin-bottom: 1.5em;
      color: #24c63a !important;
      background-color: transparent !important;
    }

    &:hover {
      box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.5);
    }

    &:disabled {
      margin-bottom: 0 !important;
    }
  }

  .signOutLink {
    color: #24c63a;
    cursor: pointer;
    letter-spacing: 1.8px;

    &:focus {
      outline: none;
    }
  }

  .ui.basic.segment {
    margin: 0 auto;
    padding: 0;
  }

  .ui.loading.segment:before{
    background: rgba(254, 249, 159, 1);
  }

  .cancelLinkContainer {
    padding-top: 1.5em;
    padding-bottom: 5em;

    .cancelLink {
      color: #c63224;
      margin-top: 3em;
      cursor: pointer;
      letter-spacing: 1.8px;

      &:focus {
        outline: none;
      }
    }
  }

  .cardInfo {
    font-size: 1em;
  }

  .ui.divider {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .checkoutForm {
    margin-top: 2.5em;

    .StripeElement {
      max-width: 387px;
    }
  }
}

@media all and (max-width: 668px) {
  div.ui.active.transition.visible.inverted.page.dimmer.settingsDimmer {
    div.ui.right.aligned.grid > div.column.closeButton {
      top: 0;
      padding-top: 0;

      img.doneIcon{
        margin-top: 1em;
        width: 25px;
        height: 27px;
      }
    }

    button.ui.button {
      width: 340px;
      height: 45px;
      font-size: 14px;
      margin-bottom: 0;
      letter-spacing: 1.8px;

      &.changeSubscriptionButton {
        margin: 5em auto 2.5em auto;
      }

      &.changePaymentButton {
        margin-bottom: 2.5em;
      }
    }
  }
}
