<p>Hi <%= @name %>,</p>

<p>
  This is a confirmation that your subscription to Careeer.me will be canceled on <%= @expiration_date %>. You are welcome to continue using the roadmap and working with your coach until then.
</p>
<p>
  We appreciate your business and are honored to have supported you in accomplishing your big goals.
</p>

<p>
  - Careeer.me team
</p>
<p>
  <small>
    <i>
      If you did not authorize this cancellation please respond to this message immediately.
    </i>
  </small>
</p>
