<p>Hi <%= @name %>,</p>

<p>
  You've canceled your subscription to Careeer.me!
</p>
<p>
  We appreciate your business and are honored to have supported you in accomplishing your big goals.
</p>
<br>
<p>
  If you did not authorize this cancellation please respond to this message immediately.
</p>
<p>
  - Careeer.me team
</p>
