<p>Hi <%= @name %>,</p>

<p>
  You've successfully changed payment information to your card ending in <%= @last4 %>.
</p>
<p>
  We appreciate your business and are honored to support you in accomplishing your big goals.
</p>
<p>
  - Careeer.me team
</p>
<br>
<p>
  <small>
    <i>
      If you did not authorize this change in payment information please respond to this message immediately.
    </i>
  </small>
</p>
