<p>Hi <%= @name %>,</p>

<p>Welcome to Careeer.me. We’re happy you’re here. You’ll find that Careeer.me is the most effective, efficient, and pain free way to transition to a new job in tech.</p>

<p>Anya<br>
CEO, Founder @ Careeer.me</p>
