div.ui.fluid.transparent.input {
  border-color: transparent !important;
  background-color: transparent !important;
  font-family: Raleway;
  font-size: 28px;
  letter-spacing: 3.5px;
  color: #919191;
  margin-bottom: 2rem;
}
