div#root > div > div > div {
  min-height: 100%;
}

.paymentLayout {
  width: 100%;
  background-color: #fef99f;
  min-height: -webkit-fill-available;

  .checkout {
    .checkoutForm {
      margin-top: 4em;
    }

      .cardErrors {
        margin-top: 1em;
        max-width: 374px;
        font-family: Cabin;
        font-size: 12px;
        letter-spacing: 1px;
        color: #fe5d5d;
        margin-left: auto;
        margin-right: auto;
      }

      .StripeElement {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 412px;
        padding: 10px 14px;
        border-radius: 5px;
        background: white;
        box-shadow: rgba(50, 50, 93, 0.109804) 0px 2px 2px, rgba(0, 0, 0, 0.0784314) 0px 1px 1px;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
      }

      .StripeElement--focus {
        box-shadow: rgba(50, 50, 93, 0.109804) 0px 6px 8px, rgba(0, 0, 0, 0.0784314) 0px 3px 5px;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
      }

      .StripeElement--complete {
        border: solid 1px #24c63a;
      }
  }

  .header {
    a {
      padding: 0.8em;
      color: #333;
      font-size: 0.9em;
      font-weight: bold;
      font-family: Raleway;
      letter-spacing: 1.8px;
      background-color: #fef99f;
      vertical-align: -webkit-baseline-middle;
      transition: background-color 0.5s, color 0.5s;

      &.selected {
        color: #fff;
        background-color: #24c63a;
      }
    }
  }

  .messageBody {
    margin-top: 3em;
    text-align: center;

    h1 {
      color: #24c63a;
      font-size: 3.5em;
      letter-spacing: 6px;
      font-family: Lobster;
      font-weight: lighter;
    }

    .ui.avatar.image {
      width: 7.5em;
      height: 7.5em;
      margin: 1em 0 2em;
    }

    h2 {
      width: 546px;
      color: #333333;
      font-size: 2em;
      margin: 1em auto;
      font-weight: 500;
      font-family: Cabin;
      letter-spacing: 3.5px;

      span {
        color: #24c63a;
      }

      &.plans {
        margin: 0.3em auto;
        font-size: 2.2em;
      }
    }

    h3 {
      color: #333;
      font-size: 1.4em;
      font-weight: 500;
      font-family: Cabin;
      margin-top: 0;
      letter-spacing: 2.5px;
    }

    h4 {
      color: #000;
      margin-bottom: 0;
      margin-top: 1em;
      font-size: 1.1em;
      font-weight: 500;
      font-family: Cabin;
      letter-spacing: 2px;
      text-decoration: underline;
    }

    p {
      color: #333333;
      font-size: 1.4em;
      font-family: Cabin;
      letter-spacing: 2.5px;

      &.plans {
        margin-bottom: 2.5em;
        font-size: 0.9em;
        letter-spacing: 1.5px;
      }
    }

    div.plans {
      width: 387px;
      margin: 1em auto;

      .segment {
        position: relative;
        border: none;
        border-radius: 0;
        box-shadow: none;
        transition: box-shadow 0.5s, color 0.25s;

        &:hover {
          box-shadow: 2px 2px 1px 0 rgba(34,36,38,.45);
        }

        .ribbon.label {
          top: 1.2em;
          left: 109%;
          font-family: Cabin;
        }

        &::before,
        &::after {
          box-sizing: inherit;
          content: '';
          position: absolute;
          border: 2px solid transparent;
          width: 0;
          height: 0;
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          bottom: 0;
          right: 0;
        }

        &.selected {
          transition: box-shadow 1s ease 1s, color 0.25s;

          &::after {
            box-shadow: 4px 4px 4px 0 rgba(34,36,38,.45);
          }

          &.yellow {
            &::before,
            &::after {
              width: 100%;
              height: 100%;
            }

            &::before {
              border-right-color: #fbbd08;
              transition:
                width 0.1s ease-out,
                height 0.25s ease-out 0.1s;
            }

            &::after {
              border-bottom-color: #fbbd08;
              border-left-color: #fbbd08;
              transition:
                border-color 0.5s ease-out 0.35s,
                width 0.25s ease-out 0.35s,
                height 0.25s ease-out 0.55s;
            }
          }

          &.green {
            &::before,
            &::after {
              width: 100%;
              height: 100%;
            }

            &::before {
              border-right-color: #24c63a;
              transition:
                width 0.1s ease-out,
                height 0.25s ease-out 0.1s;
            }

            &::after {
              border-bottom-color: #24c63a;
              border-left-color: #24c63a;
              transition:
                border-color 0s ease-out 0.35s,
                width 0.25s ease-out 0.35s,
                height 0.25s ease-out 0.55s;
            }
          }

          &.violet {
            &::before,
            &::after {
              width: 100%;
              height: 100%;
            }

            &::before {
              border-right-color: #6435c9;
              transition:
                width 0.1s ease-out,
                height 0.25s ease-out 0.1s;
            }

            &::after {
              border-bottom-color: #6435c9;
              border-left-color: #6435c9;
              transition:
                border-color 0s ease-out 0.35s,
                width 0.25s ease-out 0.35s,
                height 0.25s ease-out 0.55s;
            }
          }
        }
      }

      .ui.padded.segment {
        padding: 15px 0 15px 20px;
        margin: 1em auto;
      }

      header {
        font-family: Cabin;
        font-size: 14px;
        letter-spacing: 1.8px;
        text-align: left;
      }

      .violet.segment > header {
        color: #6435c9;
      }

      .green.segment > header {
        color: #24c63a;
      }

      .yellow.segment > header {
        color: #fbbd08;
      }

      p {
        font-size: 22px;
        font-family: Raleway;
        letter-spacing: 1.5px;
        text-align: left;
        color: #333333;
        margin-bottom: 0;

        span {
          font-size: 12px;
        }
      }

      div.planDescription {
        width: 359px;
        font-family: Cabin;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: left;
        color: #000;
      }
    }

    div.callToAction {
      margin-top: 3em;
    }
  }

  .callToAction {
    margin-top: 7em;
    padding-bottom: 2em;
    text-align: center;

    .ui.button {
      width: 387px;
      margin-bottom: 2.5em;
      background-color: #24c63a;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    p {
      color: #000000;
      margin: 0 0 0 1em;
      font-size: 12px;
      font-family: Cabin;
      letter-spacing: 1.5px;
    }

    a {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      display: block;
      cursor: pointer;
      color: #24c63a;
      font-size: 14px;
      font-family: Cabin;
      letter-spacing: 1.8px;
    }
  }
}

@media all and (max-width: 669px) {
  .paymentLayout {
    .header {
      a {
        padding: 1.3em;
        font-size: 0.5em;
        letter-spacing: 1.3px;
      }
    }

    .messageBody {
      margin-top: 2.5em;

      h1 {
        font-size: 1.7em;
        letter-spacing: 2.8px;
      }

      .ui.avatar.image {
        width: 6em;
        height: 6em;
      }

      h2 {
        width: 303px;
        font-size: 1.2em;
        letter-spacing: 1.8px;

        &.plans {
          margin: 0.2em auto;
        }
      }

      h3 {
        font-size: 1em;
        letter-spacing: 1.8px;
        margin-top: 1em;
      }

      h4 {
        font-size: 0.9em;
        letter-spacing: 1.8px;
      }

      p {
        font-size: 0.9em;
        letter-spacing: 1.3px;

        &.plans {
          font-size: 0.8em;
          margin-bottom: 0;
        }
      }

      div.plans {
        width: auto;
        margin: 2em 1.2em;

        .ui.padded.segment {
          padding: 8px 0 8px 12px;
        }

        .segment {
          .ribbon.label {
            top: 1em;
            left: 108%;
            font-size: 10px;
          }
        }

        header {
          font-size: 10px;
          letter-spacing: 1.3px;
        }

        p {
          font-size: 16px;

          span {
            font-size: 9px;
          }
        }

        div.planDescription {
          width: 240px;
          font-size: 11px;
          letter-spacing: 1.5px;
        }
      }

      div.callToAction {
        margin-top: 2em;
      }
    }

    .callToAction {
      margin-top: 6em;

      .ui.button {
        width: 303px;
      }
    }
  }
}
