.ui.grid {
  margin: 0;
}

.ui.segment:first-child {
  margin-top: 1.5rem;
}

.ui.segment:last-child,
.ui.segment {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* button inside roadmap form */
.ui.left.button {
  font-family: Cabin;
  font-size: 18px;
  letter-spacing: 2.3px;
  text-align: center;
  border-radius: 18px;
  color: #fff;
  background-color: #24c63a;
  margin-top: 0.6rem;
}
