.onDemandCoachSection {
  .coachAvatar {
    margin-top: 150px;
  }

  .greenRectangle {
    width: 780px;
    height: 70px;
    margin-top: 42px;
    background-color: #92f3f1;
  }

  .ourMissionColumn {
    min-width: 375px;
  }

  .ourMission {
    margin-top: 0;
  }

  .descriptionContainer {
    max-width: 445px;
  }
}

@media only screen and (max-width: 768px) {
  .onDemandCoachSection {
    .coachAvatar {
      margin-top: 50px;
    }

    .greenRectangle {
      height: 50px;
    }  
  }
}