.onDemandCoachSection {
  img {
    margin-top: 150px;
  }

  .greenRectangle {
    width: 780px;
    height: 70px;
    margin-top: 42px;
    background-color: #92f3f1;
  }

  .ourMission {
    margin-top: 0;
  }

  .descriptionContainer {
    max-width: 445px;
  }

  li {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3e2d6c;
  }
}
