.mainHeader {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
  background-color: #fff;
  margin-top: 0 !important;
  margin-left: 0 !important;
  box-shadow: 0 2px 10px 0 rgba(119, 119, 119, 0.5);

  .careeer {
    width: 115px;
    height: 45px;
    color: #00a2aa;
    font-size: 36px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Lobster', cursive;
  }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  .mainHeader {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    position: fixed;
    background-color: #fff;
    margin-top: 0 !important;
    margin-left: 0 !important;
    box-shadow: 0 2px 10px 0 rgba(119, 119, 119, 0.5);
  
    .careeer {
      width: 115px;
      height: 45px;
      color: #00a2aa;
      font-size: 36px;
      text-align: left;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-stretch: normal;
      letter-spacing: normal;
      font-family: 'Lobster', cursive;
    }
  }
}