.personalizedRoadmap {
  .greenRectangle {
    width: 517px;
    height: 70px;
    margin-top: 162px;
    background-color: #92f3f1;
  }

  .ourMission {
    max-width: 460px;
    padding-top: 25px;
  }

  .descriptionContainer {
    padding-top: 10px;
    max-width: 464px;
  }

  .milestonesPicture {
    margin: auto;
    max-width: 63% !important;
    padding-top: 30px;
  }
}
