.ui.vertical.overlay.side-nav {
  background-color: white;
  padding-top: 70px;

  .item {
    height: 65px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;

    &.signup {
      padding: 0;

      .signUpLink {
        height: 100%;
        width: 100%;

        a {
          font-size: 20px;
        }
      }
    }
  }
}