.contentContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: #4d3886;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.signUpLink {
  border-radius: 3px;
  border-color: transparent;
  background-color: #00a2aa;

  a {
    color: #fff;
  }
}

.sectionTitle {
  font-family: 'OpenSans-SemiBold', 'Open Sans';
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4d3886;
  padding-top: 100px;
  border-bottom: 3px solid #55dae0;
}

p {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e2d6c;
}

.description {
  margin-top: 40px !important;
}

.ourMission, .greenRectangle {
  font-family: 'OpenSans-Bold', 'Open Sans';
  font-size: 44px;
  font-weight: bolder;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4d3886;
}

@import './side-nav';
@import './header';
@import './hero';
@import './who-we-are';
@import './what-we-do';
@import './roadmap';
@import './coaching';
@import './reviews';
@import './pricing';
@import './footer';