
a {
  color: #4d3886;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.signUpLink {
  border-radius: 3px;
  border-color: transparent;
  background-color: #00a2aa;

  a {
    color: #fff;
  }
}

.sectionTitle {
  font-family: 'OpenSans-SemiBold', 'Open Sans';
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4d3886;
  padding-top: 100px;
  border-bottom: 3px solid #55dae0;
}

p {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e2d6c;
}

.description {
  margin-top: 40px !important;
}

.ourMission, .greenRectangle {
  font-family: 'OpenSans-Bold', 'Open Sans';
  font-size: 44px;
  font-weight: bolder;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4d3886;
}

.mainHeader {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
  background-color: #fff;
  margin-top: 0 !important;
  margin-left: 0 !important;
  box-shadow: 0 2px 10px 0 rgba(119, 119, 119, 0.5);

  .careeer {
    width: 115px;
    height: 45px;
    color: #00a2aa;
    font-size: 36px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Lobster', cursive;
  }
}

.heroImage {
  margin-top: 5rem !important;
  background-color: #f1f1f9;
  height: 650px;

  .column {
    height: 650px;

    h1 {
      color: #5f459c;
      font-size: 40px;
      text-align: left;
      margin-top: 124px;
      line-height: 55px;
      font-style: normal;
      font-weight: normal;
      font-family: 'Open Sans';
      flex-grow: unset !important;

      .rotatingText {
        max-width: 250px;
        color: #33e4e1;
        font-family: 'OpenSans-Bold', 'Open Sans';
        font-weight: bold;
        font-size: 40px;
        font-style: italic;
        position: absolute;
        border-bottom: 3px solid #5f459c;
      }
    }

    .signUpLink {
      flex-grow: unset !important;
      max-width: 223px;
      height: 44px;
      margin-top: 120px;
    }
  }
}

.whoWeAre {
  .greenRectangle {
    background-color: #92f3f1;
    height: 65px;
    margin-top: 123px;
    width: 350px;
  }

  .greenInlineRectangle {
    background-color: #92f3f1;
    height: 65px;
    left: 0;
    margin-top: 123px;
    position: absolute;
    width: 287px;
  }

  .ourMission {
    max-width: 460px;
    position: relative;
    padding-top: 100px;
    z-index: 2;
  }

  .improvementAreas {
    margin-left: 20px;
    margin-bottom: 4rem;

    span {
      font-family: 'OpenSans-Bold', 'Open Sans';
    }
  }
}

.whatWeDo {
  .greenRectangle {
    width: 766px;
    height: 70px;
    background-color: #92f3f1;
  }

  .ourMission {
    padding-top: 50px;
  }

  .descriptionContainer {
    padding-top: 35px;
    max-width: 445px;
  }

  .roadmapIcon, .supportIcon, .trainingIcon {
    padding-top: 50px;
  }

  .iconHeader {
    font-size: 18px;
    font-style: 'OpenSans-Bold', 'Open Sans';
    color: #3e2d6c;
    margin: 10px;
  }

  .iconDescription {
    font-size: 16px;
    text-align: center;
    max-width: 210px;
    margin: 0 auto;
  }

  .trainingIcon {
    padding-top: 30px;
  }
}

.personalizedRoadmap {
  .greenRectangle {
    width: 517px;
    height: 70px;
    margin-top: 162px;
    background-color: #92f3f1;
  }

  .ourMission {
    max-width: 460px;
    padding-top: 25px;
  }

  .descriptionContainer {
    padding-top: 10px;
    max-width: 464px;
  }

  .milestonesPicture {
    margin: auto;
    max-width: 63% !important;
    padding-top: 30px;
  }
}

.onDemandCoachSection {
  img {
    margin-top: 150px;
  }

  .greenRectangle {
    width: 780px;
    height: 70px;
    margin-top: 42px;
    background-color: #92f3f1;
  }

  .ourMission {
    margin-top: 0;
  }

  .descriptionContainer {
    max-width: 445px;
  }

  li {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3e2d6c;
  }
}

.testimonials {
  .slick-initialized.slick-slider {
    width: 100%;
    height: auto;
    margin: 0 0;
    padding: 3.5rem 0;

    .slick-dots {
      bottom: -95px;

      li, button, button::before {
        height: 40px;
        width: 40px;
        z-index: 100;
      }
    }

    .slick-dots li button:before {
      font-size: 20px;
      top: 20px;
      color: #55dae0;
    }

    .slick-slide {
      opacity: 0.5;
      padding-top: 2rem;
      transition: transform 1.25s;

      &.slick-active {
        position: relative;
        transform: translateX(250px);
        z-index: -1;
      }

      &.slick-center {
        opacity: 1;
        position: relative;
        transform: translateY(10px) scale(1.2);
        z-index: 1;

        & + div.slick-active {
          position: relative;
          transform: translateX(-250px);
          z-index: -1;
        }
      }
    }

    .slick-list {
      overflow: inherit;

      .reviewContainer {
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 5px 9px 0 rgba(199, 199, 199, 0.5);
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
        width: 366px;
        height: 400px;
      }

      .reviewAvatar {
        width: 165px;
        margin: 0 auto 2rem;

        img {
          width: 165px;
          height: 165px;
          margin-right: 0;
        }
      }

      .reviewContent {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem;
        width: 300px;

        p {
          display: block;
          font-family: "OpenSans-Italic","Open Sans";
          font-size: 16px;
          letter-spacing: 0.3px;
          text-align: left;
          margin-bottom: 0;
        }

        strong {
          margin-top: 2rem;
          font-family: "OpenSans-Italic", "Open Sans";
          font-size: 16px;
          letter-spacing: 0.3px;
          text-align: left;
          color: #3e2d6c;
        }
      }
    }
  }
}

.subscriptionSection {
  .sectionTitle {
    padding-top: 230px;
  }

  .subscriptionPlan {
    margin-top: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .planTitle {
      color: #4d3886;
      font-family: 'Open Sans';
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-align: center;

      &.active {
        border-radius: 2px;
        background-color: #92f3f1;
      }
    }

    .monthlyPlan {
      margin: 2rem auto 0;
      border: 2px solid #898aca;
      border-radius: 5px;
      padding-bottom: 8rem;
      max-width: 298px;

      &.active {
        border: solid 4px #55dae0;
      }

      .planDescription {
        max-width: 258px;
      }

      .planCost {
        border-bottom: solid 4px #fcb0dc;
        color: #4d3886;
        font-family: 'Open Sans';
        font-size: 28px;
        margin: 0 auto;
        padding-top: 1rem;
        max-width: 258px;

        span {
          font-size: 18px;
        }
      }

      li {
        color: #4a4a4a;
        font-family: 'OpenSans-SemiBold', 'Open Sans';
        font-size: 18px;
        padding-top: 2rem;
        text-align: left;
      }

      ul {
        padding-bottom: 1rem;
      }
    }
  }

  .trialLink {
    padding-top: 3.5rem;
    padding-bottom: 8rem;

    .signUpLink {
      padding: 0.5rem 4rem;
    }

    p {
      text-align: center;
      font-family: 'Open Sans';
      font-size: 14px;
    }
  }
}

.mainFooter {
  padding-top: 4rem !important;
  padding-bottom: 3rem !important;
  background-color: #f1f1f9;

  p {
    font-size: 16px;
  }

  .inverted.circular.icon {
    background-color: #4d3886 !important;
  }
}
