a {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.signUpLink {
  border-radius: 3px;
  border-color: transparent;
  background-color: #56b51a;

  a {
    color: #fff;
  }
}

.sectionTitle {
  font-family: 'Open Sans';
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  padding-top: 70px;
  border-bottom: 3px solid #56b51a;
}

p {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: #4a4a4a;
}

.description {
  margin-top: 40px;
}

.ourMission, .greenRectangle {
  font-family: 'Open Sans';
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4a4a4a;
}

.mainHeader {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
  background-color: #fff;
  margin-top: 0 !important;
  margin-left: 0 !important;
  box-shadow: 0 2px 10px 0 rgba(119, 119, 119, 0.5);

  .careeer {
    width: 115px;
    height: 45px;
    color: #56b51a;
    font-size: 36px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: 'Lobster', cursive;
  }
}

.heroImage {
  margin-top: 5rem !important;
  background-image: url("http://res.cloudinary.com/careeer/image/upload/c_scale,f_auto,h_700,w_1430/v1523567914/Hero_Image_qgblxw.jpg");
  height: 650px;
  background-position-x: center;
  background-repeat: no-repeat;

  .column {
    height: 650px;
    opacity: 0.9;
    background-color: #ffffff;

    h1 {
      color: #4a4a4a;
      font-size: 36px;
      text-align: left;
      margin-top: 124px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-stretch: normal;
      font-family: 'Open Sans';
      letter-spacing: normal;
      flex-grow: unset !important;

      .rotatingText {
        color: #56b51a;
        font-weight: bold;
        font-size: 36px;
        font-style: italic;
        position: absolute;
        border-bottom: 3px solid #4a4a4a;
      }
    }

    .signUpLink {
      flex-grow: unset !important;
      width: 223px;
      height: 44px;
      margin-top: 120px;
    }
  }
}

.whoWeAre {
  .greenRectangle {
    width: 466px;
    height: 70px;
    margin-top: 126px;
    background-color: #8fde53;
  }

  .ourMission {
    padding-top: 130px;
  }

  .improvementAreas {
    margin-left: 20px;
    margin-bottom: 4rem;

    span {
      font-weight: 600;
    }
  }
}

.whatWeDo {
  .greenRectangle {
    width: 766px;
    height: 70px;
    background-color: #8fde53;
  }

  .ourMission {
    padding-top: 50px;
  }
}

.personalizedRoadmap {
  .greenRectangle {
    width: 530px;
    height: 70px;
    margin-top: 152px;
    background-color: #8fde53;
  }

  .ourMission {
    padding-top: 30px;
  }
}

.onDemandCoachSection {
  img {
    margin-top: 80px;
  }

  .greenRectangle {
    width: 760px;
    height: 70px;
    margin-top: 42px;
    background-color: #8fde53;
  }

  .ourMission {
    margin-top: 0;
  }
}

.testimonials {

}

.subscriptionSection {
  .monthlyPlan {
    margin-top: 4rem;
    border: 3px solid #8fde53;
    border-radius: 30px;

    h4, h5, li {
      padding-top: 1rem;
      color: #4a4a4a;
      font-family: 'Open Sans';
      font-size: 22px;

      span {
        font-size: 16px;
      }
    }

    h4 {
      color: #8fde53;
    }

    ul, li {
      font-size: 18px;
      text-align: left;
    }

    ul {
      padding-bottom: 1rem;
    }
  }

  .trialLink {
    padding-top: 3.5rem;
    padding-bottom: 8rem;

    .signUpLink {
      padding: 0.5rem 4rem;
    }

    p {
      padding-left: 5rem;
      font-family: 'Open Sans';
      font-size: 14px;
    }
  }
}

.mainFooter {
  padding-top: 4rem !important;
  padding-bottom: 3rem !important;
  background-image: linear-gradient(250deg, #f3feec, #e4fcd4);

  p {
    font-size: 16px;
  }
}
